.vs/
.vscode/
debug/
release/
setting.json
PowerQuality.pro.user
*.log
*.elep
tmp/
bin/
*.obj
/out
/PowerQuality.dir
/x64
build/
build2/
/CMakeFiles
/PowerQuality_autogen
/ZERO_CHECK.*
/ALL_BUILD.*
cmake_install.cmake
.qmake.stash
CMakeCache.txt

*.user
Makefile
Makefile.Debug
Makefile.Release
__pycache__